$main-color: #e72929;

.hide-scroll::-webkit-scrollbar {
  display: none;
}

input {
  border: none;
  background: none;
  color: white;
  font-weight: 600;
}

button {
  height: 48px;
  border-radius: 48px;
  background-color: $main-color;
  padding: 0 12px;
  color: white;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: darken($main-color, 10%);
  }
}

.button-container {
  width: 50px;
  position: relative;
  overflow: hidden;
}

.card-container {
  position: relative;

  button {
    width: 86px;
    justify-content: flex-end;
    padding-right: 20px;
    position: absolute;
    right: -28px;

    &:hover {
      right: -50px;
    }
  }
  .delete-btn {
    top: 8px;
  }

  .duplicate-btn {
    top: 64px;
  }

  .card {
    overflow: hidden;

    .container {
    }

    img {
    }
  }
}
